.constructorElement {
  display: flex;
  gap: var(--x2);
  align-items: center;
  justify-content: center;
  justify-items: center;
  cursor: grab;
}
.constructorElement:active {
  cursor: grabbing;
}

.iconWrapper {
  width: 24px;
  height: 24px !important;
}