.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  /* для скролла pr-2 не подошел */
  width: calc(100% + var(--x2));
  padding-right: var(--x2);
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}