.item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;

  gap: var(--x1);

  text-align: center;
  cursor: pointer;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.price {
  display: flex;
  align-items: center;

}