/* решить проблему с паддингом у leftMenu  и rightMenu */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  position: relative;
}

.wrapper {
  background-color: #1C1C21;
}

.linkWrapper {

  display: flex;
  gap: var(--x2);
}

.leftMenu {
  box-sizing: content-box;
  display: flex;
  justify-self: start;
  gap: var(--x2);
}



.rightMenu {
  justify-self: end;
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--x2);
}
.activeLink{
  composes: link;
}

.link svg {
  fill: var(--text-primary-color);
}

.activeLink svg {
  fill: var(--text-inactive-color);
}