/* решить проблему с паддингом у leftMenu  и rightMenu */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  padding: var(--x4) 0;  

  position: relative;
}
.wrapper{
  background-color: #1C1C21;
  margin: var(--x10) var(--x10) 0 var(--x10);

}

.linkWrapper {

  display: flex;
  gap: var(--x2);
}

.leftMenu {
  box-sizing: content-box;
  display: flex;
  justify-self: start;
}



.rightMenu {
  right: -(var(--x4));
  justify-self: end;
}